/* DNPlus Messenger - Estilo Maestro Final */
:root {
    --whatsapp-bg: #0b141a;
    --msg-mine: #176f47;
    --msg-theirs: #202c33;
    --header-color: #085f56;    
    --accent-color: #F08927;    
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--whatsapp-bg);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header, #action-header-menu {
    height: 62px;
    background-color: var(--header-color) !important;
    color: white !important;
    padding: 0 10px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

#action-header-menu {
    display: none; 
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    justify-content: flex-end;
    gap: 25px;
    z-index: 6000;
}



#chat-container {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-blend-mode: overlay;
}

.bubble {
    max-width: 85%;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 0.95rem;
    position: relative;
}

.bubble-mine { align-self: flex-end; background-color: var(--msg-mine); color: white; border-top-right-radius: 2px; }
.bubble-theirs { align-self: flex-start; background-color: var(--msg-theirs); color: white; border-top-left-radius: 2px; }

/* AUDIO FINO Y ELEGANTE */
.audio-wrapper {
    width: 230px !important;
    height: 38px !important; 
    display: flex;
    align-items: center;
    gap: 8px;
}

.audio-wrapper img {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    object-fit: cover;
}



#emoji-panel {
    display: none;
    background: #232d36;
    width: 100%;
    height: 250px;
    overflow-y: auto;
    padding: 10px;
    border-top: 1px solid #374045;
}

.emoji-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;
}

.emoji-title {
    color: #8696a0;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
    width: 100%;
}

/* VISOR PANTALLA COMPLETA - ESTO QUITA LO DE ABAJO */
#image-viewer {
    display: none;
    position: fixed; 
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.95);
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.input-area { background: #111b21; padding: 8px; display: flex; align-items: center; gap: 8px; }
.input-card { background: #2a3942; border-radius: 25px; flex: 1; display: flex; align-items: center; padding: 0 15px; height: 48px; }
#chat-input { background: transparent; border: none; outline: none; flex: 1; color: white; }

.action-btn {
    background: var(--msg-mine);
    width: 45px; height: 45px;
    border-radius: 50%;
    border: none; color: white;
}
