/* Colores Oficiales DNPlus Messenger */
:root {
    --verde-principal: #176F47;
    --verde-oscuro: #085F56;
    --fondo-oscuro: #0b141a; /* Cambiado para estilo WhatsApp Dark */
    --blanco-puro: #FFFFFF;
}

body {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fondo-oscuro); /* Fondo oscuro profesional */
    display: flex; flex-direction: column;
    min-height: 100vh;
}

.btn-confirmar {
    background-color: var(--verde-principal);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(23, 111, 71, 0.3);
    transition: transform 0.1s, background-color 0.2s; /* Efecto de rebote */
}

.btn-confirmar:active {
    transform: scale(0.95); /* Se encoge un poquito al tocarlo */
    background-color: #125a3a;
}

.header-chat {
    background-color: var(--verde-oscuro);
    width: 100%;
    color: white;
    padding: 10px 15px; /* Más espacio lateral */
    display: flex;
    align-items: center;
    box-sizing: border-box; /* Para que el padding no estire el ancho */
}
