.header-chat-container {
    background-color: var(--verde-oscuro);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-icon {
    font-size: 24px;
    cursor: pointer;
}

.avatar-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.header-info {
    display: flex;
    flex-direction: column;
}

#chat-nombre {
    font-weight: bold;
    font-size: 16px;
}

#chat-estado {
    font-size: 12px;
    color: #00e676; /* Verde neón para el 'en línea' */
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn {
    font-size: 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Colores Oficiales DNPlus Messenger */
:root {
    --verde-principal: #176F47;
    --verde-oscuro: #085F56;
    --fondo-oscuro: #0b141a; /* Cambiado para estilo WhatsApp Dark */
    --blanco-puro: #FFFFFF;
}

body {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--fondo-oscuro); /* Fondo oscuro profesional */
    display: flex; flex-direction: column;
    min-height: 100vh;
}

.btn-confirmar {
    background-color: var(--verde-principal);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(23, 111, 71, 0.3);
    transition: transform 0.1s, background-color 0.2s; /* Efecto de rebote */
}

.btn-confirmar:active {
    transform: scale(0.95); /* Se encoge un poquito al tocarlo */
    background-color: #125a3a;
}

.header-chat {
    background-color: var(--verde-oscuro);
    width: 100%;
    color: white;
    padding: 10px 15px; /* Más espacio lateral */
    display: flex;
    align-items: center;
    box-sizing: border-box; /* Para que el padding no estire el ancho */
}
