.header-chat-container {
    background-color: #085F56 !important; /* Tu verde oscuro */
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: white !important;
}

/* Alineación de la izquierda (Foto y Nombre) */
.header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Alineación de la derecha (Teléfono y Puntos) */
.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}
